__pycache__/
Ressource

/database/data/sous_titre
/database/data/miniature/



*.pyc
*.pyo
*.pyd
.env
*.env

# Flutter/Dart
build/
.dart_tool/
.packages
pubspec.lock

# FFmpeg or binaries
*.exe
*.dll
*.so
*.dylib

# IDEs
.vscode/
.idea/

# Logs & system
*.log
.DS_Store
Thumbs.db
